.Project {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}


.ProjectInfo1 {
    padding: 0 20px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.ProjectInfo1 h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.ProjectInfo2 h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.ProjectInfo2 {
    padding: 0 20px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}


.ProjectImage {
    flex-basis: 50%;
    height: auto;
    width: auto;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%; 
    border-radius: 8%;
    object-fit: cover;
}

@media only screen and (min-width: 1200px) {
    .ProjectImage {
        height: 320px;
    }
}