.Project {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
}

.ProjectInfo1 {
    padding: 0 20px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ProjectInfo1 h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.ProjectInfo2 h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.ProjectInfo2 {
    padding: 0 20px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ProjectInfo1:hover,
.ProjectInfo2:hover {
    box-shadow: 20px;
}

.ProjectImage {
    flex-basis: 50%;
    height: 320px;
    position: relative; 
}