.imgage {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.Main {
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    justify-content: flex-start;
}


.Main h1 {
    display: block;
    width: fit-content;
    font-size: 1.8rem;
    position: relatve;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;

}

.Main h1:nth-child(1) {
    animation-delay: 1s;
}

.Main h1:nth-child(2) {
    animation-delay: 2s;
}

.Main h1:nth-child(3) {
    animation-delay: 3s;
}

.Main a {
    border: 3px solid crimson;
    font-size: 2.5rem;
    text-decoration: none;
    color: crimson;
    font-weight: 700;
    cursor: pointer;
}


@keyframes text_reveal {
    100% {
        color: black;
    }
}

@media only screen and (min-width: 768px) {
    .Main h1 {
        font-size: 3.5rem;
    }
}


