.Footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.icon {
    height: 50px;
    width: 50px;
    padding: 10px;
}

.icons {
    display: flex;
    flex-direction: row;

}