.Projects {
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Projects h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.Projects h1 span {
    color: crimson;
}